@charset "UTF-8";
/* reset */
*{
	padding: 0;
	margin: 0;
}

body{
	width: 1300px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	margin: 0px auto;
}

#wrapper{
	margin: 0 auto;
	width: 1300px;
}

#header{
	width: 100%;
	height: 150px;
}

#logo{
	background: url('images/logo.png') no-repeat;
	float: left;
	width: 300px;
	height: 88px;	
	margin: 30px;
}

.navigation{
	float: right;
	margin-top: 90px;
	width: 600px;
}

.navigation li{
	float: left;
	list-style: none;	
}

.navigation li:last-child a{
	border-right: none;
}

.navigation li a{
	float: left;
	color: #858585;
	padding: 6px 20px;
	text-decoration: none; 	
	font-size: 17px;
	font-family: 'Expletus Sans', cursive;	
}

ul a:hover,
ul a:focus,
ul .selected a {
  	color: #27A9E1;
}

ul.navigation a:hover, ul.navigation a:focus {
	border-bottom: aqua 2px solid;
}

.navigation li a.current {
	color: #27A9E1;
}

#picture{
	background: url('images/picture.jpg') no-repeat;
	width: 1300px;
	height: 733px;
}
/*
#content {

}*/

#icon_container{
	background: rgba(255, 255, 255, 0.8);
	border-radius: 1em 1em 0 0;
	width: 1300px;
	height: 198px;
	position: relative;	
	top: 535px;
	right: 0;
}

#in-room{
	width: 650px;
	height: 30px;
	position: absolute;
	left: 0;
	top: 10px;
	margin-top: 10px;
	padding-left: 34px;
	font-size: 10px;
	font-family: 'Expletus Sans', cursive;
	color: #181464;
	/*text-align: center;
	border-right: 2px solid #181464;*/
	/*padding: 20px 0;*/
}

#out-room{
	left: 650px;
	width: 650px;
	height: 30px;
	position: absolute;
	top: 10px;
	margin-top: 10px;
	padding-left: 14px;
	font-size: 10px;
	font-family: 'Expletus Sans', cursive;
	color: #181464;
	/*text-align: center;*/
	/*padding: 20px 0;*/
}

#icons{
	position: absolute;
	left: 0;
	top: 45px;
	margin:10px 20px;
	width: 1300px;
}
#icons li{
	float: left;
	width: 96px;
	height: 96px;
	padding: 15px;
	list-style: none;	
}

#icons a span {
	display: none;
}

#icons a:hover {
	font-size: 100%;
	color: #000;
	text-decoration: none;
	position: relative;
	text-align: center;
}

/*#icons a:hover span {
	display: block;
	position: absolute;
	top: -7.5em;
	width: 6.9em;
	font-family: 'Expletus Sans', cursive;
	/*background: rgba(11, 178, 255, 0.6);*/
	/*left: 2em;*/	
/*}*/
